Pillow == 9.4.0
Shimmy == 0.2.0
antlr4_python3_runtime == 4.7.2
cloudpickle == 2.2.0
gym == 0.26.2
gymnasium == 0.27.0
h5py == 3.7.0
matplotlib == 3.6.3
networkx == 3.2.1
numba == 0.56.4
numpy == 1.23.5
packaging == 23.0
pandas == 1.5.3
pygame == 2.1.2
pymunk == 6.4.0
pytest == 8.2.0
requests == 2.31.0
scikit_learn == 1.1.0
scipy == 1.10.0
strictyaml == 1.7.3
tensorboard == 2.11.2
tensorflow_cpu == 2.11.0
torch == 2.2.2
tqdm == 4.64.1